.card, .paragraph, .blog-details, .blog-entries{
  margin: 1rem 0;
}

.label {
  position: absolute;
  right: 0;
  margin: 0 1rem;
  padding: 0 0.5rem;
  color: #fff;
  line-height: 36px;
  font-weight: bolder;
  &.sweden {
    background: steelblue;
  }
  &.camper {
    background: chocolate;
  }
  &.travel{
    background: green;
  }
}
